.back {
    cursor: pointer;
}

.back:hover {
    text-shadow: 0 0 20px white;
}

.today {
    height: 55vh;
}

.more {
    display: flex;
    justify-content: flex-end;
}

.btn-more  {
    width: 6%;
    border-radius: 50px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    color: rgb(75, 75, 75);
}

.more-info {
    height: 45vh;
    background-color: rgba(255, 254, 254, 0.671);
    color: rgb(50, 50, 50);
    opacity: 0;
    animation: opacity 3s forwards;
}

@keyframes opacity {
    100%{
        opacity: 1;
    }
}


@media (max-width: 1660px){
    .btn-more  {
        width: 7%;
    }
}
@media (max-width: 1200px){
    .btn-more  {
        width: 10%;
    }
}
@media (max-width: 780px){
    .w-25{
        width: 50% !important;
    }
    .btn-more  {
        width: 15%;
    }
}
@media (max-width: 540px){
    .w-25{
        width: 40% !important;
    }
    .btn-more  {
        width: 35%;
    }
}